# Source code
dist/utils
dist/src
test/
src/
*.ts
*.tsx
Makefile

# Configuration files
.eslintrc
.prettierrc
.gitignore
tsconfig.json
.editorconfig

# Editor files
.vscode/
.idea
.DS_Store

# Etc
LICENSE